html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    font-family: Helvetica;
    background-color: transparent;
}
dd, dl, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper{
    min-height: 100vh;
    position: relative;
    background-color: #f1f1f2;
}
.ol-header{
    position:fixed;
    display:flex;
    top: 0;
    width: 100%;
    height: 74px;
    background-color: #3a3e45;
    z-index: 301;
}
.ol-header .logo{
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    color: #f1f1f2;
    background-color: #c9252c;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    font-family: "Microsoft YaHei", yaHei;
    line-height: 65px;
}
.ol-header .search{
    position: relative;
    padding: 0 0 0 40px;
    width: 60px;
    flex: 1;
    z-index: 10;
}
.ol-header .search input{
    padding: 0 0 0 30px;
    height: 100%;
    font-size: 15px;
    color: #e2e3e3;
    background: transparent url(../img/icon-search.svg) no-repeat 0px;
    border: none;
    outline:medium;
}
.ol-header .search i{
    font-size: 20px;
    color: #aaa;
    text-shadow: 2px 2px 2px #3a3e45;
}
.ol-header .main-nav{
    padding: 12px 0;
    width:500px;
    height:100%;
    color: #e2e3e3;
}
.ol-header .main-nav ul{
    right:0;
    list-style: none;
}
.ol-header .main-nav ul li{
    float: left;
    width: 20%;
    padding: 12px 0;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}
.sec-nav{
    position: fixed;
    left: 0;
    top: 85px;
    width: 60px;
    z-index: 3;
    /*transition: left .4s ease-out;*/
    background-color: #43444a;
    color: #e2e3e3;
}
.sec-nav .root-node{
    background-color: #43444a;
    width: 60px;
    z-index: 40;
    position: relative;
}
.sec-nav .root-node a{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    border-left: solid 2px transparent;
    border-bottom: 1px solid #43444a;
}
.sec-nav .root-node .tag-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
#soccer span{
    background-image: url(../img/soccer.svg);
    background-size: 30px 30px;
}
#basketball span{
    background-image: url(../img/basketball.png);
    background-size: 30px 30px;
}
#lol span{
    background-image: url(../img/lol.png);
    background-size: 30px 30px;
}
.root-node .third-nav{
    /*display: none;*/
    position: absolute;
    padding: 10px;
    left:60px;
    width:165px;
    font-size: 16px;
    color: #e2e3e3;
    background-color: #4f555e;
    line-height: 40px;
    transform: translateX(-260px);
    opacity: 0;
    transition: transform .3s ease-out,opacity .2s ease-out;
    z-index: -10;
}
.root-node .third-nav li{
    text-indent: 2em;
}
#third-nav-soccer{
    top:0;
}
.root-node:hover a{
    transition: 30ms background-color ease-out;
    border-left: 2px solid #c9252c;
    background-color: #4f555e;
    color: #fff;
}
.root-node:hover .third-nav{
    /*display:block;*/
    transform: translateX(0px);
    opacity: 1;
    z-index: -10;
}
.third-nav li:hover{
    font-weight: bold;
}
#sidebar{
    position: fixed;
    top: 85px;
    right:0;
    width: 350px;
    max-height: 100%;
    z-index: 300;
    will-change: transform;
}
#sidebar h2{
    display: block;
    padding: 6px 11px;
    text-align: right;
    height: 35px;
    font-size: 1em;
    line-height: 1.875em;
    font-weight: 700;
    white-space: nowrap;
    background-color: #fff;
}
#sidebar h2 ul li{
    float: left;
    width: 24px;
    font-size: 18px;
}
#sidebar .icon-angle, .toggle-all{
    margin: 0 6px;
    font-size: 12px;
}
#sidebar .btn{
    display: inline-block;
    width: 24px;
    height: 24px;
    border:1px solid #ccc;
    color: #666;
    cursor: pointer;
}
#sidebar .btn:hover{
    color: #000;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
#sidebar .btn-up{
    border-right:none;
    border-radius: 5px 0 0 5px;
}
#sidebar .btn-down{
    border-radius: 0 5px 5px 0;
}
#bets_accordion{
    overflow-y: auto;
}
#bets_accordion .bets-toggle{
    position: relative;
    font-weight: 700;
    font-size: .91667em;
    line-height: 3.27272em;
    vertical-align: middle;
    color: #eee;
    background: #3a3e45;
    text-transform: uppercase;
    cursor: pointer;
}
#bets_accordion .icon-angle{
    margin: 0 10px 0 6px;
    font-size: 12px;
}

#bets_accordion .bets-inner{
    text-align: center;
    vertical-align: middle;
    /*min-height: 50px;*/
    height: 50px;
    color: #333;
    background-color: #fff;
    text-transform: uppercase;
    position: relative;
}
#save_confirmation{
    padding: 10px;
    color: #333;
    background-color: #fff;
}
#save_confirmation span{
    padding: 0 20px 0 10px;
    font-size: .91667em;
    line-height: 1.81818em;
    font-weight: 700;

}
#content{
    padding: 85px 360px 0 70px;
    position:relative;
}
#content .banner{
    /*display: block;*/
    position:relative;
    height:245px;
}
#content .banner ul{
    list-style: none;

}
#content .banner ul li{
    display: block;
}
#content .banner .banner-pic1{
    float: left;
    width: 70%;
    height:100%;
}
#content .banner .banner-pic1 > div{
    width: 99%;
    height:99%;
    margin: 0 5px 0 0;
    background: url(../img/bg1.jpg) no-repeat center;
    box-shadow: 1px 1px 1px #666;
}
#content .banner .banner-pic1 + li{
    float: left;
    margin:0 0 0 -1px;
    width:30%;
    height:100%
}
#content .banner .banner-pic1 + li > ul li{
    float: left;
    width: 100%;
    height: 50%;
    box-shadow: 2px 1px 1px #666;
}
#content .banner .banner-pic2{
    background: url(../img/smallBg2.jpg) no-repeat center;
}
#content .banner .banner-pic3{
    background: url(../img/smallBg1.jpg) no-repeat center;
}

.banner-toggle{
    position:relative;
    padding: 0 0 0 30px;
    margin:0 2px 0 0;
    width: 100%;
    min-height: 30px;
    overflow: visible;
    top: 0;
    background-color: #3C434B;
    color: #fff;
    box-shadow: 2px 1px 1px #666;
}
.banner-toggle h2{
    font-size: 16px;
    line-height: 30px;
    float: left;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 30px 0 5px;
    text-transform: uppercase;
}
.banner-toggle i{
    position: absolute;
    bottom: 8px;
    right: 10px;
    z-index: 300;
    font-size: 15px;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    background: rgba(63,62,62,.5);
    cursor: pointer;
}
.banner-toggle p{
    display: none;
    position: absolute;
    padding: 0 20px;
    height:25px;
    width: 210px;
    right: -93px;
    top:-25px;
    border-radius: 5px;
    text-align: left;
    line-height:25px;
    font-size: 13px;
    color: #FFF;
    background: rgba(0,0,0,0.8);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index:310;
}
.banner-toggle p:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-top-color:#1E2021;
    right:50%;
    top:25px;
}
.banner-toggle p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
.banner-toggle i:hover + p{
    display: block;
}
/*ÓÃÀ´Òþ²ØÔªËØ*/
.hide{
    display: none;
}
@media (min-width: 769px) {
    .ol-header .logo{
        width:230px;
        /*background-image: url();*/
    }
}
@media (max-width: 768px){
    .ol-header .logo{
        width:80px;
        /*background-image: url();*/
    }
}
@media only screen and (max-width: 1365px) and (min-width: 1100px){
    #content .banner ul{
        height: 245px;
    }
}